.upload_btn{
	width: 88px;
	height: 30px;
	padding: 0;
	position: relative;
	top: 5px;
	&_input{
		width: 88px;
	  height: 30px;
	  opacity: 0;
	}
	&_text{
		position: absolute;
		top: 5px;
    font-size: 12px;
    left: 24px;
	}

	&_icon{
		left: 8px;
    position: absolute;
    top: 7px;
	}
}