.user_input{
  width: 180px;
}

.advice_down{
    transform: rotate(90deg);
}

.advice_up{
    transform: rotate(-90deg);
}

.show{
  display: inline-block;
}

.hidden{
  display: none;
}