.user_input{
  width: 180px;
}

.advice_down{
    transform: rotate(90deg);
}

.advice_up{
    transform: rotate(-90deg);
}

.advice_search_item{
  width: calc(100% / 3);
  display: inline-block;
  .advice_search_input {
    width: 80%;
  }
}

.input_label {
  padding-right: 10px;
  width: 20%;
  display: inline-block;
  text-align: right;
}

.advice_search_content{
  padding: 0px 0px 20px 0px;
  &:last-child{
    padding: 0px;
  }
}

.show{
  display: block;
}

.hidden{
  display: none;
}

.page-table-pagination{
  padding-top: 20px;
}