@import '../../../mixins.less';
.container{
	width: 100%;
	height: 100%;
	overflow: hidden;

	.header{
		height: 60px;
		box-shadow: 0px 1px 1px @box-shadow;
		border-bottom: 1px solid  @box-shadow;
	}

	.aside{
		width: 180px;
		height:100%;
		overflow: auto;
		box-shadow: 1px 0px 1px @box-shadow;
		display: inline-block;
	}

	.section{
    display: block;
    float: right;
    height: 100%;
		background: #f2f2f2;
		overflow: auto;
	}
}

.home {
	&_container{
		width: 100%;
		height: 960px;
		background: #f2f2f2;
		overflow: hidden;

	  &__top{
			height: 200px;
			margin: 20px 30px  20px;
			background: #fff;

			&___title{
				font-size: 16px;
				padding-left: 20px;
			}

			&___container{
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: 50px 20px;
			}

			&___item{
				background: #e9edfa;
				height: 60px;
				display: inline-flex;
				margin: 0px 20px;
				justify-content: space-between;

				&:hover{
					background: #beccfa;
					cursor: pointer;
				}
				
				&____title{
					flex: 1 1 auto;
					font-size: 16px;
					text-align: left;
					padding-left: 30px;
					height: 60px;
					line-height: 60px;
				}

				&____count{
					flex: 1 1 auto;
					font-size: 16px;
					text-align: right;
					padding-right: 30px;
					height: 60px;
					line-height: 60px;
				}
			}
		}
    //下方
		&__bottom {
			background: #fff;
			margin: 0px 30px 30px 30px;
			font-size:0;

			&___title{
				font-size: 16px;
				padding-bottom: 20px;
			}

			&___left{
				width: 50%;
				margin-right: 30px;
				display: inline-block;
				line-height: 100%;
				vertical-align: top;

				&____container{
					background: #e9edfa;
					margin: 20px 0px 20px 20px;
					padding: 30px;
					color: #369;
				}
			}
			&___right{
				display: inline-block;
				vertical-align: top;
				&____container{
					background: #e9edfa;
					margin: 20px 0px 20px 0px;
					padding: 30px 30px 0px 30px;
					color: #369;
				}
			}
		}
	}
}