body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root{
  width: 100%;
  height:100%;
}

@charset "utf-8";
/* CSS Document */
body, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

img {
    border: none;
}


input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: #656565;
}

/*清浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    background: #eee;
}

li{
    list-style: none;
}

.page-toolbar{
    padding: 10px 30px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.page-container{
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px;
}

.x-boot-btn{
 margin-right: 10px;
}

.page-toolbar-right{
  flex: 1 1 auto;
  text-align: right;
}

.page-toolbar-left{
 flex: 1 1 auto;
}

.advice-search{
    padding: 20px 0px 20px;
    box-shadow: 0px 1px 1px #f2f2f2;
}


.page-table-pagination{
    padding-top: 20px;
}




















